{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>IFLIX</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="{% static 'iflix/font/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->	
		 <link rel="stylesheet" href="{% static 'iflix/font/style.css' %}">
		 <link rel="stylesheet" href="{% static 'iflix/fonts/material-icon/css/material-design-iconic-font.min.css' %}">
		 <link rel="stylesheet" href="{% static 'iflix/css/style.css' %}">
		
		<!--[if lt IE 9]>
		<script src="{% static 'iflix/js-/ie-support/html5.js' %}"></script>
		<script src="{% static 'iflix/js-/ie-support/respond.js' %}"></script>
		<![endif]-->

	</head>
<body>
		<div id="site-content">
			<header class="site-header">
				<div class="container">
					<a href="index.html" id="branding">
						<img src="{% static 'iflix/image/logo.png' %}" alt="" class="logo">
						<div class="logo-copy">
							<h1 class="site-title">IFLIX ENT.</h1>
							<small class="site-description">We Bring You The Latest Movies</small>
						</div>
					</a> <!-- #branding -->

					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a href="index.html">Home</a></li>
							<li class="menu-item"><a href="about.html">About</a></li>
							<li class="menu-item"><a href="review.html">Movie reviews</a></li>
							<li class="menu-item current-menu-item"><a href="joinus.html">Join us</a></li>
							<li class="menu-item"><a href="contact.html">Contact</a></li>
						</ul> <!-- .menu -->

						<form action="#" class="search-form">
							<input type="text" placeholder="Search...">
							<button><i class="fa fa-search"></i></button>
						</form>
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>
				</div>
			</header>
			<main class="main-content">
				<div class="container">
					<div class="page">
						<div class="breadcrumbs">
							<a href="index.html">Home</a>
							<span>Join Us</span>
						</div>

						<div class="main">

        <div class="container">
            <div class="signup-content">
                <form enctype="multipart/form-data" method="POST" id="signup-form" class="signup-form">
		<h2>Sign up </h2>
                    <p class="desc">welcome to our online movie site <span>“Iflix”</span></p>
                    <div class="form-group">
			{% csrf_token %}
			{{ form|crispy }}
                        
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
		 
	
                     
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit submit" value="Sign up"/>
                        <a href="#" class="submit-link submit">log in</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
					</div>
				</div> <!-- .container -->
			</main>
			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">About Us</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia tempore vitae mollitia nesciunt saepe cupiditate</p>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Recent Review</h3>
								<ul class="no-bullet">
									<li>Lorem ipsum dolor</li>
									<li>Sit amet consecture</li>
									<li>Dolorem respequem</li>
									<li>Invenore veritae</li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Help Center</h3>
								<ul class="no-bullet">
									<li>Lorem ipsum dolor</li>
									<li>Sit amet consecture</li>
									<li>Dolorem respequem</li>
									<li>Invenore veritae</li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Join Us</h3>
								<ul class="no-bullet">
									<li>Lorem ipsum dolor</li>
									<li>Sit amet consecture</li>
									<li>Dolorem respequem</li>
									<li>Invenore veritae</li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Social Media</h3>
								<ul class="no-bullet">
									<li>Facebook</li>
									<li>Twitter</li>
									<li>Google+</li>
									<li>Pinterest</li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Newsletter</h3>
								<form action="#" class="subscribe-form">
									<input type="text" placeholder="Email Address">
								</form>
							</div>
						</div>
					</div> <!-- .row -->

					<div class="colophon">Copyright 2014 Company name, Designed by Themezy. All rights reserved</div>
				</div> <!-- .container -->

			</footer>
		</div>
		<!-- Default snippet for navigation -->
		


		<script src="{% static 'iflix/js-/jquery-1.11.1.min.js' %}"></script>
		<script src="{% static 'iflix/js-/plugins.js' %}"></script>
		<script src="{% static 'iflix/js-/app.js' %}"></script>
		<script src="{% static 'iflix/vendor/jquery/jquery.min.js' %}"></script>
    	<script src="{% static 'iflix/js/main.js' %}"></script>
		
	</body>

</html>