
{% block body_block %}
<!DOCTYPE html>
<html>
<head>
<title>IFLIX</title>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Login here :</h1>
<form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Username">
<label for="password">Password:</label>
          <input type="password" name="password" placeholder="*********">
<input type="submit" name="" value="Login">
</form>
</div>
  </div>
</body>
</html>
{% endblock %}