{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>	
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>create account</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'iflix/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'iflix/css/style.css' %}">
</head>
<body>

    <div class="main">

        <div class="container">
            <div class="signup-content">
                <form enctype="multipart/form-data" method="POST" id="signup-form" class="signup-form">
		<h2>Sign up </h2>
                    <p class="desc">welcome to our online movie site <span>“Iflix”</span></p>
                    <div class="form-group">
			{% csrf_token %}
			{{ form|crispy }}
                        
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
		 
	
                     
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit submit" value="Sign up"/>
                        <a href="login" class="submit-link submit">log in</a>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="{% static 'iflix/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'iflix/js/main.js' %}"></script>
</body>
</html>